<table class="ui fixed striped inverted table">
  <thead>
    <tr>
      <th class="four wide">Film</th>
      <th class="four wide">Director</th>
      <th class="three wide">Genre</th>
      <th class="three wide">Duration</th>
      <th class="one wide"> </th>
      <th class="one wide"> </th>
    </tr>
  </thead>
  <tbody>
    {{#each movies.films}}
    <form class = "ui stacked segment form" action="/movies/{{../movies.id}}/updatefilm/{{id}}" method="POST">
    <tr class="fields">
      <td class="field">
        <span class="ui input">
         <input type="text" name="film" autofocus required title = "Please include a valid Title" placeholder="Title" value = "{{Title}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
          <input type="text" name="director" required title = "Please include a valid Artist" placeholder="Artist" value = "{{Director}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
          <input type="text" name="genre" autofocus required title = "Please include a valid Genre" placeholder="Genre" value = "{{Genre}}">         
        </span>
      </td>
      <td class="field">
        <span class="ui input">
          <input type="text" name="duration" required title = "Please enter a valid duration" placeholder="Duration" value = "{{Duration}}">
        </span>
      </td>
      <td class="center aligned">
        <button class="ui submit icon button"><i class="icon pencil alternate"></i>Edit</button>
      </td>
      <td class="center aligned">
        <a href="/movies/{{../movies.id}}/deletefilm/{{id}}" class="ui icon button delmovie">
          <i class="icon trash"></i>
        </a>
      </td>
    </tr>
    </form> 
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" onclick="getRating()">
  Rate it! <i class="star icon"></i>
</button>
